@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-SemiBold.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Bold.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-ExtraBold.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Black.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Medium.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Thin.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Regular.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-ExtraLight.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi/Nohemi-Light.woff2") format("woff2"),
    url("/fonts/nohemi/Nohemi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono Hairline";
  src: url("/fonts/feature/FeatureMono-Hairline.woff2") format("woff2"),
    url("/fonts/feature/FeatureMono-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono";
  src: url("/fonts/feature/FeatureMono-Medium.woff2") format("woff2"),
    url("/fonts/feature/FeatureMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono";
  src: url("/fonts/feature/FeatureMono-Light.woff2") format("woff2"),
    url("/fonts/feature/FeatureMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono";
  src: url("/fonts/feature/FeatureMono-Bold.woff2") format("woff2"),
    url("/fonts/feature/FeatureMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono";
  src: url("/fonts/feature/FeatureMono-Thin.woff2") format("woff2"),
    url("/fonts/feature/FeatureMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono";
  src: url("/fonts/feature/FeatureMono-Regular.woff2") format("woff2"),
    url("/fonts/feature/FeatureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
